@font-face {
    font-family: 'Conthrax';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/fonts/Conthrax-SemiBold.otf) format('opentype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-900: theme('colors.purple900');
    --primary-700: theme('colors.purple700');
}

@media (prefers-color-scheme: dark) {
    :root {

    }
}

body {
    background: linear-gradient(to right, var(--primary-900) 0%, var(--primary-700) 100%);;
}


@keyframes upDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}
@keyframes leftRight {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
}

.animate-up-down {
    animation: upDown 3s ease-in-out infinite;
}

.animate-left-right {
    animation: leftRight 3s ease-in-out infinite;
}

.action-btn span:after {
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .13), hsla(0, 0%, 100%, .13) 77%, hsla(0, 0%, 100%, .5) 92%, hsla(0, 0%, 100%, 0));
    content: "";
    height: 200px;
    left: -210%;
    opacity: 0;
    position: absolute;
    top: -50%;
    transition: all .7s ease 0s;
    width: 200px;
}